.DS_Store

# Node
node_modules/

# Python
dist/
__pycache__/
*.egg-info/
.uv/
.venv/
_version.py

# Java
build/
.gradle/

# Rust
target/
Cargo.lock
# .NET
bin/
obj/

# IDE
.idea/
*.iml

target/
# Secrets & credentials
.env
*.pem
*.key
*.p12
