name: Gitleaks scan

permissions: {}

on:
  workflow_call: {}
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: gitleaks
        uses: gitleaks/gitleaks-action@v1.6.0
        env:
          # GitHub Token automatically created on run
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
