name: Go pgx CI

permissions: {}

on:
  workflow_call: {}
  workflow_dispatch:
  push:
    branches: [main]

defaults:
  run:
    working-directory: go/pgx

jobs:
  create-cluster:
    uses: ./.github/workflows/dsql-cluster-create.yml
    with:
      workflow_name: go-pgx
    secrets:
      IAM_ROLE: ${{ secrets.IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

  build:
    needs: create-cluster
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
    env:
      GOPRIVATE: github.com/awslabs/aurora-dsql-connectors

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ needs.create-cluster.outputs.region }}

      - name: Run connector unit tests
        run: go test -v ./dsql/...

      - name: Run integration tests
        working-directory: go/pgx/example
        env:
          CLUSTER_USER: "admin"
          CLUSTER_ENDPOINT: ${{ needs.create-cluster.outputs.cluster-endpoint }}
          REGION: ${{ needs.create-cluster.outputs.region }}
        run: go test -v ./test/...

  delete-cluster:
    if: always() && needs.create-cluster.result == 'success'
    needs: [create-cluster, build]
    uses: ./.github/workflows/dsql-cluster-delete.yml
    with:
      cluster-id: ${{ needs.create-cluster.outputs.cluster-id }}
      region: ${{ needs.create-cluster.outputs.region }}
    secrets:
      IAM_ROLE: ${{ secrets.IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
