name: Ruby pg CI

permissions: {}

on:
  workflow_call: {}
  workflow_dispatch:
  push:
    branches: [main]

defaults:
  run:
    working-directory: ruby/pg

jobs:
  create-cluster:
    uses: ./.github/workflows/dsql-cluster-create.yml
    with:
      workflow_name: ruby-pg
    secrets:
      IAM_ROLE: ${{ secrets.IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

  build:
    needs: create-cluster
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
          working-directory: ruby/pg

      - name: Run connector unit tests
        run: bundle exec rake unit

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ needs.create-cluster.outputs.region }}

      - name: Install example dependencies
        working-directory: ruby/pg/example
        run: bundle install

      - name: Run example integration tests
        working-directory: ruby/pg/example
        env:
          CLUSTER_USER: "admin"
          CLUSTER_ENDPOINT: ${{ needs.create-cluster.outputs.cluster-endpoint }}
          REGION: ${{ needs.create-cluster.outputs.region }}
        run: bundle exec rspec test/ --format documentation

  delete-cluster:
    if: always() && needs.create-cluster.result == 'success'
    needs: [create-cluster, build]
    uses: ./.github/workflows/dsql-cluster-delete.yml
    with:
      cluster-id: ${{ needs.create-cluster.outputs.cluster-id }}
      region: ${{ needs.create-cluster.outputs.region }}
    secrets:
      IAM_ROLE: ${{ secrets.IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
